@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Work+Sans:wght@400;600;700&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ===== Shared Styles ===== */
.display-flex {
    display: flex;
}

.txt-grey {
    color: #424242;
    /* dark 02 */
}

.txt-light-grey {
    color: #727272;
    /* dark 03 */
}

.txt-primary {
    color: #FF900E;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    border: none;
    color: white;
    padding: 15px 19px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 7.5px;
    cursor: pointer;
}

.section-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

main {
    max-width: 1080px;
    margin: 0 auto;
}

main>section {
    margin-top: 100px;
}

/* ===== Navbar ===== */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1080px;
    margin: 0 auto;
}

.brand {
    font-weight: 700;
    font-size: 2.25rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* ===== Banner ===== */
.banner {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.banner-content {
    max-width: 640px;
    margin: 0 auto 37.5px;
}

.banner-title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner-img {
    width: 100%;
    border-radius: 8px;
}

/* ===== Team & Features ===== */
.teams {
    align-items: center;
    gap: 40px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.team-img-container img {
    width: 100%;
    border-radius: 8px;
}

.our-features {
    max-width: 400px;
}

/* features releted style */
.features {
    gap: 70px;
}

.features img {
    max-width: 45vw;
    height: 99%;
}

.feature-card {
    padding: 22.5px;
    box-shadow: 0 3px 22.5px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    border-radius: 5px;
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-card p {
    font-size: 0.93rem;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 17px;
    border-radius: 4px;
}

/* #experience-badge{
    padding: 35px 32px;
    text-align: center;
    font-size: 0.94rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 3rem;
    font-weight: 700;
} */


/* some facts related styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 180px;
    height: 180px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 2.1rem;
    font-weight: 600;
    margin-top: 3.5px;
    margin-bottom: 7.5px;
}

.fact-name {
    font-size: 0.94rem;
    font-weight: 600;
    margin-top: 7.5px;
}

.facts-des {
    max-width: 400px;
}


/* sponsor releted styles */
.sponsor-info {
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies img {
    filter: grayscale(100%);
}



/* ===== Responsive ===== */
/* small devices */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        align-items: center;
        gap: 10px;
        padding: 0;
    }

    .teams {
        flex-direction: column;
        align-items: center;
    }

    .team-img-container,
    .facts-container,
    .sponsors-companies {
        grid-template-columns: 1fr;
    }

    .facts-container {
        justify-items: center;
        gap: 20px;
    }

    #facts-heading {
        text-align: center;
    }

    .facts-des {
        margin: 30px auto;
        text-align: center;
    }

    .sponsors-companies {
        justify-content: center;
        gap: 40px;
        justify-items: center;
    }

    .our-features {
        margin: 20px auto 0;
        width: 90%;
        text-align: center;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .banner-title {
        font-size: 2.2rem;
    }

    .btn-primary {
        padding: 12px 16px;
        font-size: 0.9rem;
    }

    .features {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .features img {
        max-width: 90vw;
        height: 99%;
    }

    .feature-txt-section {
        max-width: 90vw;
    }
}



/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 20px auto 50px;
        width: 90%;
        text-align: center;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    #facts-heading {
        text-align: center;
    }

    .facts-des {
        margin: 30px auto;
        text-align: center;
    }


    .sponsors-companies {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-items: center;
    }

    .features {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .features img {
        max-width: 90vw;
        height: 99%;
    }

    .feature-txt-section {
        max-width: 90vw;
    }

    .feature-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}